Source: ruby-multipart-post
Section: ruby
Priority: optional
Maintainer: Julien Vanier <julien@particle.io>
Uploaders: Julien Vanier <julien@particle.io>
Build-Depends: debhelper (>= 9~),
               gem2deb,
               rake
Standards-Version: 3.9.7
Vcs-Git: https://github.com/particle-iot/ruby-multipart-post.git
Vcs-Browser: https://github.com/particle-iot/ruby-multipart-post.git
Homepage: https://github.com/nicksieger/multipart-post
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-multipart-post
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends}
Description: A multipart form post accessory for Net::HTTP.
 Use with Net::HTTP to do multipart form posts.  IO values that have #content_type, #original_filename, and #local_path will be posted as a binary file.
